{% extends 'shop/basic.html' %}

{% block title %}My Awesome Cart{% endblock %}
{% block css %}
.col-md-3
{
display: inline-block;
margin-right:-4px;
}

.carousel-indicators .active
{
background-color: blue;
}

.col-md-3 img
{
width: 200px;
height: 250px;
}

body .carousel-indicator li
{
background-color: blue;
}

body .carousel-indicators
{
bottom: 0;
}

.carousel-control-prev,
.carousel-control-next
{
width: 10%;
top: auto;
bottom: auto;
padding-top: 200px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon
{
background-color: blue;
}

body .no-padding
{
padding-left: 0,
padding-right: 0;
}
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h4 class="my-4">{{product.0.category}}</h4>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>

                {% for i in range %}
                <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"
                    aria-label="Slide 2"></button>
                {% endfor %}

            </div>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in product%}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src='/media/{{i.image}}' class="card-img-top mx-auto d-block" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                                <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                                <span class="divpr" id="divpr{{i.id}}">
                                    <button id="pr{{i.id}}" class="btn btn-primary cart" type="button">Add to
                                        Cart</button>
                                </span>
                                <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary"
                                        type="button">QuickView</button></a>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}

                </div>

                <div class="carousel-item">
                    {% endif%}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- left and right controls for the slide -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    // const popover = new bootstrap.Popover('.popover-dismiss', {
    //     trigger: 'focus'
    // })
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        var num_items = 0;
        for (var item in cart) {
            num_items = num_items + cart[item];
        }
        document.getElementById('cart').innerHTML = num_items;
        updateCart(cart)
    }

    $(document).ready(function () {
        $('.cart').click(function () {
            var idstr = this.id.toString();
            if (cart[idstr] != undefined) {
                cart[idstr] = cart[idstr] + 1;
            }
            else {
                cart[idstr] = 1;
            }
            updateCart(cart);

        });
        $('#popcart').popover();

        updatePopover(cart);
    });

    $('.cart').click(function () {
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            cart[idstr] = cart[idstr] + 1;
        }
        else {
            cart[idstr] = 1;
        }
        updateCart(cart);

    });

    // document.getElementById('popcart').setAttribute('data-bs-content', '<h6>Cart for your items in My Awesome Cart</h>');

    function updatePopover(cart) {

        var popStr = "";
        popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            popStr = popStr + "<b>" + i + ".</b> ";
            popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item] + '<br>';
            i = i + 1;
        }
        popStr = popStr + "</div>"
        console.log(popStr)
        document.getElementById('popcart').setAttribute('data-bs-content', popStr);
        console.log("jj")
        $('#popcart').popover('show');
    }

    function updateCart(cart) {
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        cart = JSON.parse(localStorage.getItem('cart'));
        var num_items = 0;
        for (var item in cart) {
            num_items = num_items + cart[item];
        }
        document.getElementById('cart').innerHTML = num_items;
        updatePopover(cart);
    }
    $('.divpr').on("click", "button.minus", function () {
        a = this.id.slice(7,);
        cart['pr' + a] = cart['pr' + a] - 1;
        cart['pr' + a] = Math.max(0, cart['pr' + a]);
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
        updateCart(cart);
        console.log("hi")
    });
    $('.divpr').on("click", "button.plus", function () {
        a = this.id.slice(6,);
        cart['pr' + a] = cart['pr' + a] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
        updateCart(cart);
    });
</script>

{% endblock %}